<!DOCTYPE html>
<html lang="en">
<head>
  <title>DB Info</title>
  <meta charset="UTF-8">
</head>
<body>
  <h1>Database Tables</h1>
  <ul>
    <% tables.forEach(function(r) { %>
       <li><%= r.table %>: <%= r.column %> (<%= r.type %>)</li>
    <% }); %>
  </ul>
  <h1>Observations</h1>
  <ul>
    <% obs.forEach(function(r) { %>
    <li><%= r.tasks_id %> for <%= r.duration.minutes || "00" %>:<%= r.duration.seconds || "00" %></li>
    <% }); %>
  </ul>
  
  <h1>Observation Information</h1>
  <ul>
    <li>Observer's Name:<%= r.observer %></li> 
    <li>Instructor's Name:<%= r.instructor %></li>
    <li>School Name:<%= r.school %></li>
    <li>Date:<%= r.date %></li>
    <li>Grade:<%= r.grade %></li>
    <li>Topic:<%= r.topic %></li>
    <li>Student:<%= r.student %></li>
  </ul>
  
  <script>
  const obsInfo = async function () {
  var instructor = document.getElementById("instructorName");
  var observer = document.getElementById("observerName");
  var school = document.getElementById("schoolName");
  var date = document.getElementById("observationDate");
  var grade = document.getElementById("observationGrade");
  var topic = document.getElementById("observationTopic");
  var student = document.getElementById("studentNumber");
  }
  </script>
</body>
</html>